/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.loading-spinner {
  animation: spin 1s linear infinite;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid blueviolet;
  height: 30px;
  width: 30px;
}
.article-comment {
  border: 1px solid black;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.article-comment-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 50px;
  font-weight: bold;
}
.article-comment p {
  margin-bottom: 10px;
  line-height: 1.5;
}
@media (max-width: 425px) {
  .article-comment-info {
    flex-direction: column;
    gap: 0;
  }
}
.add-comment textarea {
  width: 80%;
  height: 80px;
  margin: 20px;
  vertical-align: top;
}
.add-comment button {
  background-color: blueviolet;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.5s;
  margin: 20px;
}
